@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
	font-family: 'Nanum Gothic';
}
a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #bbbbbb;
	text-decoration: none;
	cursor: pointer;
}
.jumbotron {
	background-image: url("background.jpg");
	background-size: cover;
	text-shadow: black 0.2em 0.2em 0.2em;
	color: white;
}
div.tooltip {
	position: absolute;
	text-align: center;
	width: 100px;
	height: 50px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 4px;
	pointer-events: none;
}
/* 내비게이션 영역 */
.navbar-default { /* 배경 색상 */
	background-color: #000000;
	border-color: #000000;
}
.navbar-default .navbar-brand{ /* 내비 제목 색상 */
	color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{ /* 내비 제목에 마우스 올렸을 때 */
	background-color: transparent;
	color: #bbbbbb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { /* 현재 선택된 내비 색상 이벤트 */
	color: white;
	background-color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus { /* 현재 선택된 내비 색상 이벤트 */
	color: #bbbbbb;
}
.navbar-default .navbar-nav > li > a { /* 내비 기본 색상 */
	color: white;
}
