{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" , initial-scale="1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'haneum/meta/main.css' %}">
	<title>haneum</title>
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				 aria-expanded="false">
					<span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./">부측이</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#search">검색<span class="sr-only"></span></a></li>
					<li><a href="#articles">기사</a></li>
					<li><a href="#analysis">분석</a></li>
					<li><a href="#prediction">예측</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container" id="search">
		<div class="jumbotron">
			<h1 class="text-center">부채기업 예측 서비스</h1>
			<p class="text-center">
				본 프로젝트는 부채기업 예측 서비스입니다.<br>확인하고 싶은 기업의 재무정보를 업로드해주세요.
			</p>
			<p class="text-center">
				<a class="btn btn-primary btn-lg" data-target="#modal" data-toggle="modal" role="button">재무정보 업로드</a>
			</p>
		</div>
	</div>
	<div class="container" id="articles" style="display: none;">
		<hr>
		<h1 id="news_title"></h1>
		<div clas="list-group">
			<ul id="article_list" style="list-style: none;"></ul>
		</div>
	</div>
	<div class="container" id="analysis" style="display: none;">
		<hr>
		<h1 id="analysis_title"></h1>
		<div class="row">
			
			<div  class="col-sm-8">
				<!-- <svg id="graph" width="960" height="500"></svg> -->
				<svg id="graph" width="760" height="500"></svg>
			</div>

			<div class="col-sm-4">
				<div style="text-align: center;">
					<h3>지표 상세설명</h3>
					<table class="table" width="140px" style="table-layout: fixed">
						<tr>
							<td width="30px"><b>계정</b></td>
							<td id="detail_col" width="100px" style="table-layout: fixed"></td>
						</tr>
						<tr>
							<td width="30px"><b>연도</b></td>
							<td id="detail_year" width="100px" style="table-layout: fixed"></td>
						</tr>
						<tr>
							<td width="30px"><b>금액</b></td>
							<td id="detail_currency" width="100px" style="table-layout: fixed"></td>
						</tr>
					</table>
				</div>

				<table class="table-borderless" style="text-align: center;">
					<thead>
						<tr>
							<th style="text-align: center;"><h4>재무상태표</h4></th>
							<th style="text-align: center;"><h4>손익계산서</h4></th>
							<th style="text-align: center;"><h4>현금흐름표</h4></th>
						</tr>
					</thead>
					<tr>
						<td>
							<div class="btn btn-default col_btn" id="Inventory_btn">
								<input type="checkbox" value="Inventory" disabled>
								&nbsp;재고자산
							</div>
						</td>
						<td>
							<div class="btn btn-default col_btn" id="Sales_btn">
								<input type="checkbox" value="Sales" disabled>
								&nbsp;매출액
							</div>
						</td>
						<td rowspan="2">
							<div class="btn btn-default col_btn" id="OperatingActivitiesCashFlow_btn">
								<input type="checkbox" value="OperatingActivitiesCashFlow" disabled>
								&nbsp;영업활동으로<br>인한&nbsp;현금흐름
							</div>&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							<div class="btn btn-default col_btn" id="AccountsReceivable_btn">
								<input type="checkbox" value="AccountsReceivable" disabled>
								&nbsp;매출채권
							</div>
						</td>
						<td>
							<div class="btn btn-default col_btn" id="CostofGoodsSold_btn">
								<input type="checkbox" value="CostofGoodsSold" disabled>
								&nbsp;매출원가
							</div>
						</td>
						<td>
				
						</td>
					</tr>
					<tr>
						<td>
							<div class="btn btn-default col_btn" id="InventoryTotalAssets_btn">
								<input type="checkbox" value="InventoryTotalAssets" disabled>
								&nbsp;자산총계
							</div>
						</td>
						<td>
							<div class="btn btn-default col_btn" id="OperatingProfit_btn">
								<input type="checkbox" value="OperatingProfit" disabled>
								&nbsp;영업이익
							</div>
						</td>
						<td rowspan="2">
							<div class="btn btn-default col_btn" id="InvestmentActivitiesCashFlow_btn">
								<input type="checkbox" value="InvestmentActivitiesCashFlow" disabled>
								&nbsp;투자활동으로<br>인한&nbsp;현금흐름
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="btn btn-default col_btn" id="TotalBorrowings_btn">
								<input type="checkbox" value="TotalBorrowings" disabled>
								&nbsp;총차입금
							</div>
						</td>
						<td>
							<div class="btn btn-default col_btn" id="FinancialCosts_btn">
								<input type="checkbox" value="FinancialCosts" disabled>
								&nbsp;금융비용
							</div>
						</td>
						<td></td>
					</tr>
					<tr>
						<td>
							<div class="btn btn-default col_btn" id="TotalLiabilities_btn">
								<input type="checkbox" value="TotalLiabilities" disabled>
								&nbsp;부채총계
							</div>
						</td>
						<td>
							<div class="btn btn-default col_btn" id="NetIncome_btn">
								<input type="checkbox" value="NetIncome" disabled>
								&nbsp;당기순이익
							</div>
						</td>
						<td rowspan="2">
							<div class="btn btn-default col_btn" id="FinancialActivitiesCashFlow_btn">
								<input type="checkbox" value="FinancialActivitiesCashFlow" disabled>
								&nbsp;재무활동으로<br>인한&nbsp;현금흐름
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="btn btn-default col_btn" id="TotalCapital_btn">
								<input type="checkbox" value="TotalCapital" disabled>
								&nbsp;자본총계
							</div>
						</td>
						<td></td>
						<td></td>
					</tr>
				</table>
					
			</div>

		</div>
	</div>
	<div class="container" id="prediction" style="display: none;">
		<hr>
		<h1 id="prediction_title"></h1>

		<div class="row">
			
			<div  class="col-sm-8">
				<!-- <svg id="graph" width="960" height="500"></svg> -->
				<svg id="prediction_graph" width="760" height="450"></svg>
			</div>

			<div class="col-sm-4" style="text-align: center;">
				<br>
				<div id="bankruptcyGaugeContainer"></div>
				<br>
				<div id="prediction_content" style="font-size: 25px;"></div>
			</div>

		</div>

	</div>
	<footer style="background-color: #000000; color: #ffffff">
		<div class="container">
			<br>
			<div class="row">
				<div class="col-sm-2" style="text-align: center;">
					<h5>2018</h5>
					<h5>한이음 프로젝트</h5>
				</div>
				<div class="col-sm-4" style="text-align: center;">
					<h5>Project Intro</h5>
					<p>
						기업 부실을 예측하는 '부측이' 웹 서비스입니다.
						<br>
						부측이는 은행에서 기업 대출을 위한
						<br>
						심사 및 관리에 이용될 수 있으며,
						<br>
						투자자, 기업고객이 적정한 투자 기업을 선정할 시
						<br>
						참고할 수 있는 지표가 됩니다.
					</p>
				</div>
				<div class="col-sm-2">
					<h4 style="text-align: center;">Navigator</h4>
					<div class="list-group" style="text-align: center;">
						<a href="#search" class="list-group-item">검색</a> 
						<a href="#articles" class="list-group-item">기사</a> 
						<a href="#analysis" class="list-group-item">분석</a> 
						<a href="#prediction" class="list-group-item">예측</a>
					</div>
				</div>
				<div class="col-sm-2">
					<h4 style="text-align: center;">Team</h4>
					<div class="list-group" style="text-align: center;">
						<a href="#" class="list-group-item">Leader 김현우</a>
						<a href="#" class="list-group-item">Data 시경덕</a> 
						<a href="#" class="list-group-item">Front-end 신연수</a>
						<a href="#" class="list-group-item">Back-end 정수연</a>
					</div>
				</div>
				<div class="col-sm-2">
					<h4 style="text-align: center;">
						<span class="glyphicon glyphicon-ok"></span>&nbsp;기타
					</h4>
				</div>
			</div>
		</div>
	</footer>
	<div class="row">
		<div class="modal" id="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						재무정보 업로드
						<button id="search_close" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<div style="text-align: center;">
							<p>재무정보 기재양식을 다운받은 후, 양식에 맞게 정보를 기재해 주세요.<br>업로드 해주신 파일은 분석 및 예측에 사용된 후 바로 삭제됩니다.</p>
						</div>
						<form id="upload" action="./upload" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="row">
								<center class="form-group">
									<input class="btn btn-default" type="file" name="file" id="id_file" />
								</center>
							</div>
							<div class="row">
								<div class="form-group" style="text-align: center;">
									<a id="download" class="btn btn-primary" role="button" href="./download">양식 다운로드</a>
									&nbsp;&nbsp;&nbsp;
									<input class="btn btn-primary" type="submit" value="파일 업로드" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'jquery/jquery.form.min.js' %}"></script>
<!-- <script src="http://malsup.github.com/jquery.form.js"></script>  -->
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'd3/d3.min.js' %}"></script>
<script src="{% static 'haneum/meta/gauge.js' %}"></script>
<!-- <script src="{% static 'haneum/data/sample.js' %}"></script> -->
<script src="{% static 'haneum/meta/analysis.js' %}"></script>
</html>
