<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>haneum</title>
</head>
<body>
	index
	<br>
	<form action="#" method="post">
		<input type="text" name="company_name" id="company_name"> <input
			type="submit" value="search">
	</form>
	<div id="articles"></div>
	<div id="analytics"></div>
	<div id="prediction"></div>
</body>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.js" -->
<!-- 	integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" -->
<!-- 	crossorigin="anonymous"></script> -->
<script>
	
</script>
</html>