{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" , initial-scale="1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'haneum/meta/main.css' %}">
	<title>haneum</title>
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				 aria-expanded="false">
					<span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./">부채 예측</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#search">검색<span class="sr-only"></span></a></li>
					<li><a href="#articles">기사</a></li>
					<li><a href="#analysis">분석</a></li>
					<li><a href="#prediction">예측</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container" id="search">
		<div class="jumbotron">
			<h1 class="text-center">부채기업 예측 서비스</h1>
			<p class="text-center">
				본 프로젝트는 부채기업 예측 서비스입니다.<br>확인하고 싶은 기업의 재무정보를 업로드해주세요.
			</p>
			<p class="text-center">
				<a class="btn btn-primary btn-lg" data-target="#modal" data-toggle="modal" role="button">재무정보 업로드</a>
			</p>
		</div>
	</div>
	<div class="container" id="articles" style="display: none;">
		<hr>
	</div>
	<div class="container" id="analysis" style="display: none;">
		<hr>
		<p>
			재무상태표 계정:&nbsp;
			<span class="btn btn-default col_btn">
				<input type="checkbox" value="Inventory" disabled>
				&nbsp;재고자산
			</span>&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="AccountsReceivable" disabled>
					&nbsp;매출채권
			</span>&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="InventoryTotalAssets" disabled>
					&nbsp;자산총계
			</span>&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="TotalBorrowings" disabled>
					&nbsp;총차입금
			</span>&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="TotalLiabilities" disabled>
					&nbsp;부채총계
			</span>&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="TotalCapital" disabled>
					&nbsp;자본총계
			</span>
		</p>
		<p>
			손익계산서 계정:&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="Sales" disabled>
					&nbsp;매출액
			</span>&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="CostofGoodsSold" disabled>
					&nbsp;매출원가
			</span>&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="OperatingProfit" disabled>
					&nbsp;영업이익
			</span>&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="FinancialCosts" disabled>
					&nbsp;금융비용
			</span>&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="NetIncome" disabled>
					&nbsp;당기순이익
			</span>
		</p>
		<p>
			현금흐름표 계정:&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="OperatingActivitiesCashFlow" disabled>
					&nbsp;영업활동으로인한현금흐름
			</span>&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="InvestmentActivitiesCashFlow" disabled>
					&nbsp;투자활동으로인한현금흐름
			</span>&nbsp;
			<span class="btn btn-default col_btn">
					<input type="checkbox" value="FinancialActivitiesCashFlow" disabled>
					&nbsp;재무활동으로인한현금흐름
			</span>&nbsp;
		</p>
		<p class="text-center">
			<svg id="graph" width="960" height="500"></svg>
		</p>
	</div>
	<div class="container" id="prediction" style="display: none;">
		<hr>
	</div>
	<footer style="background-color: #000000; color: #ffffff">
		<div class="container">
			<br>
			<div class="row">
				<div class="col-sm-2" style="text-align: center;">
					<h5>2018</h5>
					<h5>한이음 프로젝트</h5>
				</div>
				<div class="col-sm-4" style="text-align: center;">
					<h5>프로젝트 소개</h5>
					<p>프로젝트 설명입니다.</p>
				</div>
				<div class="col-sm-2">
					<h4 style="text-align: center;">내비게이션</h4>
					<div class="list-group">
						<a href="#search" class="list-group-item">검색</a> 
						<a href="#articles" class="list-group-item">기사</a> 
						<a href="#analysis" class="list-group-item">분석</a> 
						<a href="#prediction" class="list-group-item">예측</a>
					</div>
				</div>
				<div class="col-sm-2">
					<h4 style="text-align: center;">팀 소개</h4>
					<div class="list-group">
						<a href="#" class="list-group-item">팀원1</a>
						<a href="#" class="list-group-item">팀원2</a> 
						<a href="#" class="list-group-item">팀원3</a>
						<a href="#" class="list-group-item">팀원4</a>
					</div>
				</div>
				<div class="col-sm-2">
					<h4 style="text-align: center;">
						<span class="glyphicon glyphicon-ok"></span>&nbsp;기타
					</h4>
				</div>
			</div>
		</div>
	</footer>
	<div class="row">
		<div class="modal" id="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						재무정보 업로드
						<button id="search_close" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<div style="text-align: center;">
							<p>재무정보 기재양식을 다운받은 후, 양식에 맞게 정보를 기재해 주세요.<br>업로드 해주신 파일은 분석 및 예측에 사용된 후 바로 삭제됩니다.</p>
						</div>
						<form id="upload" action="./upload" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="row">
								<center class="form-group">
									<input class="btn btn-default" type="file" name="file" id="id_file" />
								</center>
							</div>
							<div class="row">
								<div class="form-group" style="text-align: center;">
									<a id="download" class="btn btn-primary" role="button" href="./download">양식 다운로드</a>
									&nbsp;&nbsp;&nbsp;
									<input class="btn btn-primary" type="submit" value="파일 업로드" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'jquery/jquery.form.min.js' %}"></script>
<!-- <script src="http://malsup.github.com/jquery.form.js"></script>  -->
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'd3/d3.min.js' %}"></script>
<!-- <script src="{% static 'haneum/data/sample.js' %}"></script> -->
<script src="{% static 'haneum/meta/analysis.js' %}"></script>

</html>
